<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Weather App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/css/styles.css">
        {{>styles}}
    </head>
    <body>
        {{>header}}
        <div class="container">
            <p class="mt-3">404: Page not found. Return <a href="/">home</a></p>
        </div>
        
        {{>footer}}
        {{>scripts}}
    </body>    
</html>