<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Weather App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/css/styles.css">
        {{>styles}}
    </head>
    <body>
        {{>header}}
        <div class="container">
            <h1 class="my-3">{{title}}</h1>
            <p>
                Weather app developed in ExpressJs / NodeJs utilizing the <a href="https://www.mapbox.com/">Mapbox Geocoding API</a> and the <a href="https://darksky.net/">Darksky Weather API</a>. 
                Created by Alan Smillie as a part of 
                <a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/">The Complete Node.js Developer Course (3rd Edition)</a> on Udemy.
            </p>
        </div>        
        {{>footer}}
        {{>scripts}}
    </body>    
</html>